body {
    background-color: rgb(255, 210, 231);
    font-family: 'Crafty Girls', cursive;
}
.weather-app {
    background: white;
    padding: 200px;
    border-radius: 20px;
    max-width: 600px;
    margin: 100px auto;
    border: 3px solid rgba(8, 3, 3, 0.1);
    box-shadow: 30px 30px 30px rgba(0, 0, 0, 0.3);
}